<html>
    <h1 style="color: pink">
        {{.title}}
    </h1>
    <p>
        {{range .wishlist}}
            <li>{{.}}</li>
         {{end}}
         <img src="../resources/image.jpg">
    </p>
</html>